


.audio-top-titles {
    max-width: 406px;
    width: 100%;
}

.hero-main-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    color: rgba(255, 255, 255, 1);


}

.hero-top-block {
    gap: 26px;
    align-items: center;
    justify-content: center;
}

.hero-main-title span {
    color: rgba(163, 48, 203, 1);
}

.hero-register {
    margin-top: 30px;

}

.hero-top-info {
    max-width: 468px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.audio-info-title {
    max-width: 293px;

}

.lecture-biology {
    gap: 40px;
    padding: 50px;
    background: rgba(30, 30, 32, 0.9);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.07), 0px 0px 16px 0px rgba(255, 255, 255, 0);
    border-radius: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    backdrop-filter: blur(80px);
    position: relative;
    overflow: hidden;


}

.lecture-audio-file {
    position: absolute;
}

.audio-file--one {
    bottom: 17px;

}

.audio-file--two {
    bottom: -10px;
    left: 340px;
}

.audio-file--tree {
    top: 0;
    left: 250px;
}

.audio-file--for {
    top: 0;
    right: -60px;
}

.biology-tools-info {
    padding: 25px;
    background: rgba(30, 30, 32, 0.75);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.04), 0px 0px 16px 0px rgba(255, 255, 255, 0);
    backdrop-filter: blur(50px);
    border-radius: 20px;

}

.biology-tools-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);


}

.biology-tools-clues {
    align-items: center;
    margin-top: 4px;

}

.biology-tools-clues p {
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;

}

.biology-tools-clues span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);


}

.biology-picture {
    margin-top: 15px;
}

.biology-tools-label input[type = 'file'] {
    display: none;
}

.biology-tools-file {
    margin-top: 25px;

}

.biology-tools-label {

    cursor: pointer;

}

.lecture-biology-texts {
    max-width: 529px;
    width: 100%;
    background: rgba(30, 30, 32, 0.75);
    padding: 25px;
    border-radius: 20px;
    gap: 15px;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.04), 0px 0px 16px 0px rgba(255, 255, 255, 0);
    position: relative;
    z-index: 3;
}


.biology-item-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 1);


}

.biology-weight-300 {
    font-weight: 300;

}

.biology-item-clues {
    margin-top: 6px;
    align-items: center;
}

.hero-graphics {
    margin-top: 25px;
}

.hero-graphics-mobile {
    display: none;
}

.biology-small-clue {
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 479px;
    display: flex;
    gap: 5px;
    align-items: center;

}


.biology-small-clue span {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

}

.biology-clue {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);


}

.transform-picture-mobile {
    display: none;
}

.biology-clue span {
    display: block;
}

.lecture-biology-tools {
    position: relative;
    z-index: 3;
}

.audio-text-wrap {
    display: block;
}

.lecture-file-mobile {
    display: none;
    position: absolute;

}

.file-mobile--one {
    top: 0;
    right: 0;
}

.file-mobile--two {
    top: 103px;
    left: -5px;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {


}


@media (max-width: 992px) {

    .lecture-biology {
        flex-direction: column;
        border-radius: 20px;
    }

    .lecture-biology-tools {
        width: 100%;
    }

    .lecture-biology-texts {
        max-width: 100%;

    }
}

@media (max-width: 768px) {
    .hero-top-block {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .lecture-biology {
        gap: 15px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

    }

    .hero-top-info {
        align-items: center;
    }

    .lecture-audio-file {
        display: none;
    }

    .hero-top-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-main-title{
        text-align: center;
    }
}


@media (max-width: 576px) {

    .hero-main-title {
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }

    .audio-main-title {
        max-width: 260px;

    }

    .audio-wrap-mobile {
        display: block;
    }


    .transform-picture-mobile {
        display: block;
    }

    .hero-register {
        margin-top: 20px;
    }

    .biology-tools-info {

        border-radius: 15px;

    }

    .lecture-biology-texts {
        border-radius: 15px;
    }



    .audio-main-section {
        min-height: 884px;
    }

    .audio-info-title {
        max-width: 254px;

    }

    .lecture-file-mobile {
        display: block;
    }

    .biology-tools-file {
        align-items: center;
        margin-top: 15px;
        justify-content: center;
    }


    .biology-item-title {
        font-size: 14px;
        line-height: 18px;
    }

    .biology-clue {
        font-size: 10px;
        line-height: 12px;


    }

    .hero-graphics {
        margin-top: 15px;
    }

    .hero-graphics-desktop {
        display: none;
    }

    .hero-graphics-mobile {
        display: block;
    }

    .biology-weight-300 {
        font-size: 12px;
        line-height: 14px;
    }
}